.navbar-nav > li{
    padding:3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav > li :hover{
    border-bottom: -2.5px solid #ff1616 !important;
    box-shadow: 3px #ff1616 ;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .navbar-nav > li > a{
    color: #ff1616 !important;
    font-size: large;
    font-weight: 600;
  }
  .navbar-nav > li > a:hover{
    font-weight: 800;
  }
  .navbar{
    background-color:white !important;
  }
  .full_screen{
      width: 100%; 
      overflow: hidden;
  }
  div {
      transition-delay: 1s;
  }
  .carousel .carousel-item img{
      max-height: 95vh;
      min-width: auto;
  }
